[user]
    name = Victor Escorcia
    email = escorciav@gmail.com
[color]
    ui = yes
    diff = auto
    branch = auto
    interactive = auto
    pager = yes
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = current
[pull]
    rebase = True
    default = current
# Use this behind proxy
# [http]
#    proxy = http://XXX.XXX.XXX.XXX:XXXX
