[user]
        email = escorciav@gmail.com
        name = Victor Escorcia
[color]
        ui = yes
[core]
        editor = vim
	excludesfile = ~/.gitignore
[push]
        default = current
[pull]
        rebase = True
